@import '_mixin';
@import '_options';


html, body
{
    padding: 0px; margin: 0px;
    font-family: Calibri, Tahoma, Verdana, Arial;
    font-size: 13px;
}

.content
{
    .header
    {
        .menu-top
        {
            &.access, &.link, &.logo
            {
                padding: 8px;
            }

            &.access
            {
                text-align: right;

                @include background-gradient(#006600, #004d00);
            }

            &.link, &.logo
            {
                background-color: #004d00;
            }
        }
    }
}

.error
{
    color: rgb(231, 76, 60) !important;

    &.icon:before
    {
        content: '\00d7';
    }
}

.success
{
    color: rgb(46, 204, 113) !important;

    &.icon:before
    {
        content: '\2713';
    }
}

.info
{
    color: rgb(52, 152, 219) !important;

    &.icon
    {
        &:before
        {
            content: '!';
        }

        &.icon.icon-question:before
        {
            content: '?';
        }
    }
}

.warning
{
    color: rgb(243, 156, 18) !important;

    &.icon:before
    {
        content: '!';
    }
}

