@import '_mixin';
@import '_options';



.message
{
    position: relative;
    padding: 16px;
    border: 1px solid;

    color: rgb(127, 140, 141);
    border-color: rgb(127, 140, 141);
    background-color: rgb(230, 230, 230);

    h1, .title
    {
        padding: 0px; margin: 0px 0px 6px 0px;
        font-size: 14px;
    }

    h1 + h2
    {
        margin: 0;
        font-size: .8em;
    }

    &.icon
    {
        padding-left: 64px;

        &:before
        {
            position: absolute;
            top: 50%; left: 32px;
            margin-left: auto;
            font-size: 24px;

            @include border-radius(50%);

            @include box-shadow('0px 0px 4px black');

            text-align: center;
            @include size(32px, 32px);
            @include transform('translate(-50%, -50%)');
        }
    }

    &+ .message
    {
        margin-top: 4px;
    }

    .message
    {
        margin: 1em;
    }

    &.error
    {
        border-color: rgb(231, 76, 60);
        background-color: rgb(255, 230, 230);

        &.icon:before
        {
            background-color: rgb(231, 76, 60);
            @include box-shadow('0px 0px 4px rgb(231, 76, 60)');
            color: white;
        }
    }

    &.success
    {
        border-color: rgb(46, 204, 113);
        background-color: rgb(234, 250, 241);

        &.icon:before
        {
            background-color: rgb(46, 204, 113);
            @include box-shadow('0px 0px 4px rgb(46, 204, 113)');
            color: white;
            font-size: 22px;
        }
    }

    &.info
    {
        border-color: rgb(52, 152, 219);
        background-color: rgb(233, 244, 251);
        &.icon:before
        {
            background-color: rgb(52, 152, 219);
            @include box-shadow('0px 0px 4px rgb(52, 152, 219)');
            color: white;
        }
    }

    &.warning
    {
        border-color: rgb(243, 156, 18);
        background-color: rgb(254, 245, 231);
        &.icon:before
        {
            background-color: rgb(243, 156, 18);
            @include box-shadow('0px 0px 4px rgb(243, 156, 18)');
            color: white;
        }
    }

    &+ label
    {
        margin-top: .4em;
    }
}

