@import '_mixin';
@import '_options';

.modal-trigger-check
{
    display: none;
    &:not(:checked)
    {
        &+ .modal
        {
            visibility: hidden;
            opacity: 0;
            top: 40%;
        }
    }
}

.modal
{
    @include position-center(fixed);
    @include box-shadow(0px 0px 8px rgb(127, 140, 141));
    z-index: 1;

    background-color: white;

    @include transition('top .4s ease-in-out, visibility .4s ease-in-out, opacity .4s ease-in-out');

    .modal-title,
    .modal-footer
    {
        padding: 12px;
    }

    h1, .modal-title
    {
        position: relative;
        margin: 0px;
        font-size: 15px;

        background-color: #004400;
        color: white;

        .modal-close
        {
            position: absolute;
            top: 0.5em;
            right: 1em;

            font-size: 1.3em;
            cursor: pointer;
        }
    }

    .modal-body
    {
        text-align: justify;
        padding: 24px;

        form.modal-form
        {
            margin: 16px 0px 16px 0px;

            input[type="text"], input[type="password"]
            {
                display: block;
                width: 80%;
                margin: auto;
                box-sizing: border-box;
                -webkit-box-sizing:border-box;
                -moz-box-sizing: border-box;

                &+ input[type="text"], &+ input[type="password"]
                {
                    margin-top: .4em;
                }
            }

            input[type="submit"]
            {
                display: none;
            }
        }

        p.link
        {
            text-align: right;
            margin: 0;
            font-style: italic;
        }
    }

    .modal-footer
    {
        text-align: right;
        background-color: rgba(0, 68, 0, .3);
    }

    &.icon
    {
        &:before
        {
            content: '' !important;
        }

        .modal-body
        {
            padding-left: 76px;
            &:before
            {
                position: absolute;
                top: 47%; left: 38px;
                margin-left: auto;
                font-size: 34px;

                @include border-radius(50%);

                @include box-shadow('0px 0px 4px black');

                text-align: center;
                @include size(48px, 48px);
                @include transform('translate(-50%, -50%)');
            }
        }
    }

    &.error
    {
        @include box-shadow(0px 0px 8px rgb(192, 57, 43));

        h1, .modal-title
        {
            background-color: rgb(192, 57, 43);
        }

        .modal-footer
        {
            background-color: rgba(231, 76, 60, .4);
        }

        &.icon
        {
            .modal-body
            {
                &:before
                {
                    content: '\00d7';
                    background-color: rgb(231, 76, 60);
                    @include box-shadow('0px 0px 4px rgb(231, 76, 60)');
                    color: white;
                }
            }
        }
    }

    &.success
    {
        @include box-shadow(0px 0px 8px rgb(39, 174, 96));

        h1, .modal-title
        {
            background-color: rgb(39, 174, 96);
        }

        .modal-footer
        {
            background-color: rgba(39, 174, 96, .4);
        }

        &.icon
        {
           .modal-body
            {
                &:before
                {
                    content: '\2713';
                    background-color: rgb(46, 204, 113);
                    @include box-shadow('0px 0px 4px rgb(46, 204, 113)');
                    color: white;
                }
            }
        }
    }

    &.info
    {
        @include box-shadow(0px 0px 8px rgb(41, 128, 185));

        h1, .modal-title
        {
            background-color: rgb(41, 128, 185);
        }

        .modal-footer
        {
            background-color: rgba(41, 128, 185, .4);
        }

        &.icon
        {
            .modal-body
            {
                &:before
                {
                    content: '!';
                    background-color: rgb(52, 152, 219);
                    @include box-shadow('0px 0px 4px rgb(52, 152, 219)');
                    color: white;
                }
            }

            &.icon-question
            {
                .modal-body
                {
                    &:before
                    {
                        content: '?' !important;
                    }
                }
            }
        }
    }

    &.warning
    {
        @include box-shadow(0px 0px 8px rgb(243, 156, 18));

        h1, .modal-title
        {
            background-color: rgb(243, 156, 18);
        }

        .modal-footer
        {
            background-color: rgba(243, 156, 18, .4);
        }

        &.icon
        {
            .modal-body
            {
                &:before
                {
                    content: '!';
                    background-color: rgb(243, 156, 18);
                    @include box-shadow('0px 0px 4px rgb(243, 156, 18)');
                    color: white;
                }
            }
        }
    }
}

