
$COLOR_GradientDefaultStart: #ffffff;
$COLOR_GradientDefaultEnd: #e6e6e6;

$Color_GradientSuccessStart: #00cc00;
$Color_GradientSuccessEnd: #008000;

$Color_GradientWarningStart: #ffa31a;
$Color_GradientWarningEnd: #cc7a00;

$Color_GradientErrorStart: #ff4000;
$Color_GradientErrorEnd: #b32d00;

$Color_GradientInfoStart: #1aa3ff;
$Color_GradientInfoEnd: #007acc;

$Color_GradientInverseStart: #737373;
$Color_GradientInverseEnd: #404040;

$Width_Tiny: 320px;
$Width_Small: 480px;
$Width_Medium: 640px;
$Width_Big: 800px;
$Width_Large: 960px;
