@import '_options';
@import '_functions';
@import '_mixin';


.modal-container
{
    input[type="checkbox"], input[type="radio"]
    {
        display: none;

        &:not(:checked) + .modal
        {
            display: none;
        }

        &:checked + .modal
        {
            display: block;
        }
    }

    .modal
    {
        font-family: Verdana, Tahoma, Arial;
        font-size: 12px;

        max-width: 600px;

        @include position-center(fixed);
        @include box-shadow(0px 0px 10px rgba(0, 0, 0, .45));

        .modal-header, .modal-body, .modal-footer
        {
            padding: 8px;
        }

        .modal-header
        {
            position: relative;
            border-bottom: 1px solid rgba(0, 0, 0, .25);
            font-weight: bold;
            @include max-size(100%, 50px);
            @include background-gradient($COLOR_GradientDefaultStart, $COLOR_GradientDefaultEnd);
        }

        .modal-body
        {
            position: relative;
            padding: 16px;
            @include min-size(300px, .0);
            @include max-size(600px, 400px);
        }

        .modal-footer
        {
            position: relative;
            border-top: 1px solid rgba(0, 0, 0, .25);
            @include max-size(100%, 50px);
            @include background-gradient($COLOR_GradientDefaultStart, $COLOR_GradientDefaultEnd);
        }

        .modal-close
        {
            position: absolute;
            top: 0px;
            right: 4px;
            cursor: pointer;
            padding: 6px;
            color: transparent;
            font-size: 15px;
            text-shadow: 0px 0px black;
        }

        &.modal-success, &.modal-warning, &.modal-error, &.modal-info, &.modal-inverse
        {
            .modal-close
            {
                text-shadow: 0px 0px white;
            }
        }

        &.modal-success
        {
            @include box-shadow(0px 0px 10px rgba(0, 255, 0, .45));

            .modal-header, .modal-footer
            {
                color: white;
                border-color: $Color_GradientSuccessStart;
                @include background-gradient($Color_GradientSuccessStart, $Color_GradientSuccessEnd);
            }
        }

        &.modal-warning
        {
            @include box-shadow(0px 0px 10px rgba(255, 163, 0, .45));
            .modal-header, .modal-footer
            {
                color: white;
                border-color: $Color_GradientWarningStart;
                @include background-gradient($Color_GradientWarningStart, $Color_GradientWarningEnd);
            }
        }

        &.modal-error
        {
            @include box-shadow(0px 0px 10px rgba(255, 0, 0, .45));
            .modal-header, .modal-footer
            {
                color: white;
                border-color: $Color_GradientErrorStart;
                @include background-gradient($Color_GradientErrorStart, $Color_GradientErrorEnd);
            }
        }

        &.modal-info
        {
            @include box-shadow(0px 0px 10px rgba(0, 0, 153, .45));
            .modal-header, .modal-footer
            {
                color: white;
                border-color: $Color_GradientInfoStart;
                @include background-gradient($Color_GradientInfoStart, $Color_GradientInfoEnd);
            }
        }

        &.modal-inverse
        {
            @include box-shadow(0px 0px 10px rgba(0, 0, 0, .45));
            .modal-header, .modal-footer
            {
                color: white;
                border-color: $Color_GradientInverseStart;
                @include background-gradient($Color_GradientInverseStart, $Color_GradientInverseEnd);
            }
        }
    }
}
