.button {
  position: relative;
  padding: 6px 12px 6px 12px;
  margin: 0;
  border: 1px solid;
  font-weight: bold;
  background-color: #ecf0f1;
  color: #7f8c8d;
  border-color: #7f8c8d;
  cursor: pointer;
  transition: box-shadow .2s ease-in-out, text-shadow .2s ease-in-out;
  -o-transition: box-shadow .2s ease-in-out, text-shadow .2s ease-in-out;
  -moz-transition: box-shadow .2s ease-in-out, text-shadow .2s ease-in-out;
  -webkit-transition: box-shadow .2s ease-in-out, text-shadow .2s ease-in-out; }
  .button:hover {
    text-shadow: 0px 0px 3px rgba(127, 140, 141, 0.3);
    box-shadow: 0px 0px 3px rgba(127, 140, 141, .3);
    -moz-box-shadow: 0px 0px 3px rgba(127, 140, 141, .3);
    -webkit-box-shadow: 0px 0px 3px rgba(127, 140, 141, .3); }
  .button + .button {
    margin-left: 2px; }
  .button.icon {
    padding-left: 24px; }
    .button.icon:before {
      position: absolute;
      top: 50%;
      left: 15px;
      margin-left: auto;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      width: 16px;
      height: 16px;
      transform: translate(-50%, -70%);
      -ms-transform: translate(-50%, -70%);
      -webkit-transform: translate(-50%, -70%); }
  .button.link {
    border-color: transparent;
    background-color: transparent;
    color: black;
    text-decoration: underline; }
    .button.link:hover {
      text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
      box-shadow: none !important;
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important; }
  .button.error {
    border-color: #c0392b;
    background-color: #e74c3c;
    color: white !important; }
    .button.error:hover {
      text-shadow: 0px 0px 3px #c0392b;
      box-shadow: 0px 0px 3px rgb(192, 57, 43);
      -moz-box-shadow: 0px 0px 3px rgb(192, 57, 43);
      -webkit-box-shadow: 0px 0px 3px rgb(192, 57, 43); }
  .button.info {
    border-color: #2980b9;
    background-color: #3498db;
    color: white !important; }
    .button.info:hover {
      text-shadow: 0px 0px 3px #2980b9;
      box-shadow: 0px 0px 3px rgb(41, 128, 185);
      -moz-box-shadow: 0px 0px 3px rgb(41, 128, 185);
      -webkit-box-shadow: 0px 0px 3px rgb(41, 128, 185); }
  .button.success {
    border-color: #27ae60;
    background-color: #2ecc71;
    color: white !important; }
    .button.success:hover {
      text-shadow: 0px 0px 3px #27ae60;
      box-shadow: 0px 0px 3px rgb(39, 174, 96);
      -moz-box-shadow: 0px 0px 3px rgb(39, 174, 96);
      -webkit-box-shadow: 0px 0px 3px rgb(39, 174, 96); }
  .button.warning {
    border-color: #e67e22;
    background-color: #f39c12;
    color: white !important; }
    .button.warning:hover {
      text-shadow: 0px 0px 3px #e67e22;
      box-shadow: 0px 0px 3px rgb(230, 126, 34);
      -moz-box-shadow: 0px 0px 3px rgb(230, 126, 34);
      -webkit-box-shadow: 0px 0px 3px rgb(230, 126, 34); }
