html, body {
  padding: 0px;
  margin: 0px;
  font-family: Calibri, Tahoma, Verdana, Arial;
  font-size: 13px;
  background-color: #0d1e03;
  height: 100%; }

.content .header {
  background-image: url(../img/background-header.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
  .content .header .menu-top.access, .content .header .menu-top.link {
    padding: 8px; }
  .content .header .menu-top.access {
    display: table;
    width: 100%;
    background-color: rgba(13, 30, 3, 0.4);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, .2);
    -moz-box-shadow: 0px 0px 6px rgba(255, 255, 255, .2);
    -webkit-box-shadow: 0px 0px 6px rgba(255, 255, 255, .2);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    .content .header .menu-top.access .server-status, .content .header .menu-top.access .user-access {
      display: table-cell;
      width: 50%; }
    .content .header .menu-top.access .user-access {
      text-align: right; }
    .content .header .menu-top.access .server-status {
      text-align: center;
      color: white; }
      .content .header .menu-top.access .server-status label {
        font-weight: bold; }
        .content .header .menu-top.access .server-status label + label {
          margin-left: 2em; }
      .content .header .menu-top.access .server-status select, .content .header .menu-top.access .server-status span {
        border: 0;
        padding: 0;
        margin-left: 2px;
        background-color: transparent;
        color: white;
        font-weight: normal; }
      .content .header .menu-top.access .server-status select {
        background-color: #0d1e03; }
  .content .header .menu-top.logo {
    width: 420px;
    height: 200px;
    margin: auto;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer; }
  .content .header .menu-top.link {
    color: white;
    text-align: center;
    font-size: 1.2em;
    background-color: rgba(13, 30, 3, 0.7);
    box-shadow: 0px 0px 6px rgb(13, 30, 3);
    -moz-box-shadow: 0px 0px 6px rgb(13, 30, 3);
    -webkit-box-shadow: 0px 0px 6px rgb(13, 30, 3); }
    .content .header .menu-top.link ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      .content .header .menu-top.link ul li {
        position: relative;
        display: inline-block;
        text-align: left;
        cursor: pointer;
        transition: text-shadow .2s ease-in-out;
        -o-transition: text-shadow .2s ease-in-out;
        -moz-transition: text-shadow .2s ease-in-out;
        -webkit-transition: text-shadow .2s ease-in-out;
        z-index: 1; }
        .content .header .menu-top.link ul li label {
          display: block;
          cursor: pointer; }
        .content .header .menu-top.link ul li.icon:before {
          display: inline-block;
          content: '\00a0';
          width: 28px;
          background-repeat: no-repeat;
          background-position: center left; }
        .content .header .menu-top.link ul li.icon.icon-home:before {
          background-image: url(../../../data/items/icons/501.png); }
        .content .header .menu-top.link ul li.icon.icon-myacc:before {
          background-image: url(../../../data/items/icons/5372.png); }
        .content .header .menu-top.link ul li.icon.icon-rankings:before {
          background-image: url(../../../data/items/icons/7228.png); }
        .content .header .menu-top.link ul li.icon.icon-players:before {
          background-image: url(../../../data/items/icons/2735.png); }
        .content .header .menu-top.link ul li.icon.icon-chars:before {
          background-image: url(../../../data/items/icons/2734.png); }
        .content .header .menu-top.link ul li.icon.icon-zeny:before {
          background-image: url(../../../data/items/icons/670.png); }
        .content .header .menu-top.link ul li.icon.icon-woe:before {
          background-image: url(../../../data/items/icons/714.png); }
        .content .header .menu-top.link ul li.icon.icon-guild:before {
          background-image: url(../../../data/items/icons/2105.png); }
        .content .header .menu-top.link ul li.icon.icon-castle:before {
          background-image: url(../../../data/items/icons/2383.png); }
        .content .header .menu-top.link ul li.sub-menu:after {
          display: inline-block;
          float: right;
          margin-left: 8px;
          content: '\203A';
          transition: transform .2s ease-in-out;
          -o-transition: transform .2s ease-in-out;
          -moz-transition: transform .2s ease-in-out;
          -webkit-transition: transform .2s ease-in-out; }
        .content .header .menu-top.link ul li.sub-menu:hover:after {
          transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -webkit-transform: rotate(90deg); }
        .content .header .menu-top.link ul li:hover {
          text-shadow: 0px 0px 4px white; }
          .content .header .menu-top.link ul li:hover > ul {
            visibility: visible;
            opacity: 1;
            top: 100%; }
        .content .header .menu-top.link ul li + li {
          margin-left: 0.8em; }
      .content .header .menu-top.link ul ul {
        position: absolute;
        top: 70%;
        background-color: rgba(13, 30, 3, 0.9);
        visibility: hidden;
        opacity: 0;
        box-shadow: 0px 0px 3px rgb(13, 30, 3);
        -moz-box-shadow: 0px 0px 3px rgb(13, 30, 3);
        -webkit-box-shadow: 0px 0px 3px rgb(13, 30, 3);
        padding: 4px;
        transition: top .2s ease-in-out, left .2s ease-in-out, visibility .2s ease-in-out, opacity .2s ease-in-out;
        -o-transition: top .2s ease-in-out, left .2s ease-in-out, visibility .2s ease-in-out, opacity .2s ease-in-out;
        -moz-transition: top .2s ease-in-out, left .2s ease-in-out, visibility .2s ease-in-out, opacity .2s ease-in-out;
        -webkit-transition: top .2s ease-in-out, left .2s ease-in-out, visibility .2s ease-in-out, opacity .2s ease-in-out; }
        .content .header .menu-top.link ul ul li {
          display: block;
          min-width: 180px;
          text-shadow: none; }
          .content .header .menu-top.link ul ul li label {
            padding: 8px; }
          .content .header .menu-top.link ul ul li + li {
            margin-left: 0;
            border-top: 1px dashed rgba(255, 255, 255, 0.35); }
          .content .header .menu-top.link ul ul li.sub-menu:after {
            display: inline-block;
            margin-left: 6px;
            content: '\203A';
            transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transition: transform .2s ease-in-out;
            -o-transition: transform .2s ease-in-out;
            -moz-transition: transform .2s ease-in-out;
            -webkit-transition: transform .2s ease-in-out; }
          .content .header .menu-top.link ul ul li.sub-menu:hover:after {
            transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg); }
          .content .header .menu-top.link ul ul li:hover ul {
            top: 0%;
            left: 100%; }
        .content .header .menu-top.link ul ul ul {
          top: 0%;
          left: 70%; }
.content .body {
  margin: 3px auto;
  background-color: white;
  padding: 16px;
  box-shadow: 0 0 3px white;
  -moz-box-shadow: 0 0 3px white;
  -webkit-box-shadow: 0 0 3px white;
  color: #0d1e03; }
  .content .body h1 {
    padding: 0;
    margin: 0px 0px 12px 0px;
    font-size: 1.2em;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.6); }
  .content .body .table {
    width: 100%;
    border-collapse: collapse;
    border-color: black; }
    .content .body .table caption {
      margin: 3px;
      padding: 4px;
      font-weight: bold;
      font-size: 1.1em; }
    .content .body .table thead tr {
      background-color: #0d1e03;
      color: white; }
    .content .body .table tbody tr:nth-child(even) {
      background-color: rgba(13, 30, 3, 0.15); }
    .content .body .table tbody tr td,
    .content .body .table thead tr th {
      padding: 3px;
      border-color: #0d1e03; }
.content .footer {
  color: white;
  text-align: center;
  padding: 12px;
  margin: 0px auto;
  background-color: rgba(0, 102, 34, 0.7);
  box-shadow: 0px 0px 6px rgb(13, 30, 3);
  -moz-box-shadow: 0px 0px 6px rgb(13, 30, 3);
  -webkit-box-shadow: 0px 0px 6px rgb(13, 30, 3); }
  .content .footer label {
    font-weight: bold; }
    .content .footer label select, .content .footer label span {
      font-weight: normal;
      color: white;
      border: 0;
      font-family: Calibri, Tahoma, Verdana, Arial;
      font-size: 12px; }
    .content .footer label select {
      background-color: transparent;
      padding: 0px;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      display: inline-block; }
    .content .footer label span.navigator {
      margin-left: 4px;
      vertical-align: center; }
      .content .footer label span.navigator:before {
        display: inline-block;
        content: '\00a0';
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-right: 2px;
        width: 16px;
        height: 16px; }
      .content .footer label span.navigator.nav-chrome:before {
        background-image: url(../img/chrome.png); }
      .content .footer label span.navigator.nav-firefox:before {
        background-image: url(../img/firefox.png); }
      .content .footer label span.navigator.nav-ie:before {
        background-image: url(../img/ie.png); }
      .content .footer label span.navigator.nav-safari:before {
        background-image: url(../img/safari.png); }
      .content .footer label span.navigator.nav-opera:before {
        background-image: url(../img/opera.png); }
    .content .footer label + label {
      margin-left: 2em; }

.error {
  color: #e74c3c !important; }
  .error.icon:before {
    content: '\00d7'; }

.success {
  color: #2ecc71 !important; }
  .success.icon:before {
    content: '\2713'; }

.info {
  color: #3498db !important; }
  .info.icon:before {
    content: '!'; }
  .info.icon.icon.icon-question:before {
    content: '?'; }

.warning {
  color: #f39c12 !important; }
  .warning.icon:before {
    content: '!'; }

span.url-link, .fake-link {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline; }

input[type="text"], input[type="password"], select, input[type="number"], input[type="range"] {
  border: 1px solid;
  padding: 8px;
  border-color: lightgray; }

label.input-checkbox {
  display: block;
  padding-left: 15px;
  text-indent: -13px;
  text-align: center; }
  label.input-checkbox input[type="checkbox"], label.input-checkbox input[type="radio"] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -2px;
    *overflow: hidden; }

.loading-ajax {
  display: block;
  margin: auto;
  width: 48px;
  height: 32px;
  background-color: transparent;
  text-align: center; }
  .loading-ajax .loading-bar {
    height: 100%;
    width: 6px;
    margin: auto;
    display: inline-block;
    background-color: #004400;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0px 0px 3px #004400;
    -moz-box-shadow: 0px 0px 3px #004400;
    -webkit-box-shadow: 0px 0px 3px #004400;
    transform: scale(1, .6);
    -ms-transform: scale(1, .6);
    -webkit-transform: scale(1, .6); }
    .loading-ajax .loading-bar + .loading-bar {
      margin-left: 2px; }
    .loading-ajax .loading-bar.loading-bar-1 {
      animation-name: loading-body-bar-1;
      animation-delay: 0s;
      animation-duration: 0.8s;
      animation-iteration-count: infinite;
      -o-animation-name: loading-body-bar-1;
      -o-animation-delay: 0s;
      -o-animation-duration: 0.8s;
      -o-animation-iteration-count: infinite;
      -moz-animation-name: loading-body-bar-1;
      -moz-animation-delay: 0s;
      -moz-animation-duration: 0.8s;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-name: loading-body-bar-1;
      -webkit-animation-delay: 0s;
      -webkit-animation-duration: 0.8s;
      -webkit-animation-iteration-count: infinite; }
    .loading-ajax .loading-bar.loading-bar-2 {
      animation-name: loading-body-bar-1;
      animation-delay: 0.2s;
      animation-duration: 0.8s;
      animation-iteration-count: infinite;
      -o-animation-name: loading-body-bar-1;
      -o-animation-delay: 0.2s;
      -o-animation-duration: 0.8s;
      -o-animation-iteration-count: infinite;
      -moz-animation-name: loading-body-bar-1;
      -moz-animation-delay: 0.2s;
      -moz-animation-duration: 0.8s;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-name: loading-body-bar-1;
      -webkit-animation-delay: 0.2s;
      -webkit-animation-duration: 0.8s;
      -webkit-animation-iteration-count: infinite; }
    .loading-ajax .loading-bar.loading-bar-3 {
      animation-name: loading-body-bar-1;
      animation-delay: 0.4s;
      animation-duration: 0.8s;
      animation-iteration-count: infinite;
      -o-animation-name: loading-body-bar-1;
      -o-animation-delay: 0.4s;
      -o-animation-duration: 0.8s;
      -o-animation-iteration-count: infinite;
      -moz-animation-name: loading-body-bar-1;
      -moz-animation-delay: 0.4s;
      -moz-animation-duration: 0.8s;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-name: loading-body-bar-1;
      -webkit-animation-delay: 0.4s;
      -webkit-animation-duration: 0.8s;
      -webkit-animation-iteration-count: infinite; }
    .loading-ajax .loading-bar.loading-bar-4 {
      animation-name: loading-body-bar-1;
      animation-delay: 0.6s;
      animation-duration: 0.8s;
      animation-iteration-count: infinite;
      -o-animation-name: loading-body-bar-1;
      -o-animation-delay: 0.6s;
      -o-animation-duration: 0.8s;
      -o-animation-iteration-count: infinite;
      -moz-animation-name: loading-body-bar-1;
      -moz-animation-delay: 0.6s;
      -moz-animation-duration: 0.8s;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-name: loading-body-bar-1;
      -webkit-animation-delay: 0.6s;
      -webkit-animation-duration: 0.8s;
      -webkit-animation-iteration-count: infinite; }
  .loading-ajax + * {
    margin-bottom: 3px; }

span.info-status {
  display: inline-block;
  padding: 2px !important;
  color: white; }
  span.info-status.online {
    background-color: #2ecc71 !important; }
  span.info-status.offline {
    background-color: #e74c3c !important; }

.display-money {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 2em; }
  .display-money:before {
    content: 'R$';
    margin-right: 3px; }
  .display-money:after {
    content: ',00'; }

.display-notify {
  display: block;
  text-align: center;
  font-size: .8em;
  font-style: italic;
  font-weight: bold;
  color: red; }
  .display-notify:before {
    content: '*'; }

@keyframes loading-body-bar-1 {
  0% {
    transform: scale(1, .6);
    -ms-transform: scale(1, .6);
    -webkit-transform: scale(1, .6); }
  50% {
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1); }
  100% {
    transform: scale(1, .6);
    -ms-transform: scale(1, .6);
    -webkit-transform: scale(1, .6); } }
.vending {
  display: inline-block;
  margin: .2em;
  width: 25em;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 0 0 .7em .1em rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 0 .7em .1em rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 .7em .1em rgba(0, 0, 0, .5); }
  .vending .vending-title {
    font-size: 1.2em;
    font-weight: bold;
    padding: .8em;
    background-color: #004400;
    color: white; }
    .vending .vending-title[data-map]:after {
      font-size: .8em;
      font-weight: normal;
      font-style: italic;
      margin-left: 1em;
      content: attr(data-map); }
  .vending .vending-items {
    display: table;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    .vending .vending-items .vending-item {
      display: table-row;
      cursor: default;
      transition: background-color .2s ease-in-out;
      -o-transition: background-color .2s ease-in-out;
      -moz-transition: background-color .2s ease-in-out;
      -webkit-transition: background-color .2s ease-in-out; }
      .vending .vending-items .vending-item:hover {
        background-color: rgba(0, 68, 0, 0.2); }
      .vending .vending-items .vending-item .vending-item-cell {
        display: table-cell;
        width: auto;
        padding: .4em; }

.item-info {
  position: relative;
  display: inline-block;
  padding: 4px 4px 4px 26px;
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer; }
  .item-info.item-broken {
    color: red;
    font-style: italic; }
  .item-info[data-refine]:before {
    content: "+" attr(data-refine);
    margin-right: 4px;
    font-weight: bold; }
  .item-info[data-amount]:before {
    position: absolute;
    top: 1em;
    left: -.4em;
    content: attr(data-amount);
    color: black;
    text-shadow: 0px 0px 1px white,0px 0px 1px white,0px 0px 1px white,0px 0px 1px white; }
  .item-info[data-slot]:after {
    margin-left: 4px;
    content: "[" attr(data-slot) "]"; }

.char-info {
  display: inline-block;
  box-shadow: 0 0 .7em .1em rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 0 .7em .1em rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 .7em .1em rgba(0, 0, 0, .5); }
  .char-info .char-title {
    display: block;
    padding: .8em;
    background-color: #004400;
    color: white;
    font-size: 1.2em;
    text-align: left; }
    .char-info .char-title[data-num]:before, .char-info .char-title[data-job]:after {
      font-style: italic;
      fint-size: .1em !important; }
    .char-info .char-title[data-num]:before {
      content: attr(data-num);
      margin-right: 1.4em; }
    .char-info .char-title[data-job]:after {
      margin-left: 1.4em;
      content: attr(data-job); }
  .char-info .char-data {
    display: table;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: .2em; }
    .char-info .char-data .char-job, .char-info .char-data .char-level, .char-info .char-data .char-zeny, .char-info .char-data .char-status {
      display: table-cell;
      width: auto;
      text-align: center;
      cursor: default;
      padding: .5em; }
    .char-info .char-data .char-zeny:after {
      content: 'z'; }
    .char-info .char-data .char-status {
      border-radius: 0.2em;
      -moz-border-radius: 0.2em;
      -webkit-border-radius: 0.2em; }
      .char-info .char-data .char-status.char-status-offline {
        background-color: #c0392b;
        color: white; }
      .char-info .char-data .char-status.char-status-online {
        background-color: #27ae60;
        color: white; }
  .char-info canvas {
    margin: 1em; }
  .char-info + .char-info {
    margin-left: 1.8em; }
