.modal-trigger-check {
  display: none; }
  .modal-trigger-check:not(:checked) + .modal {
    visibility: hidden;
    opacity: 0;
    top: 40%; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  box-shadow: 0px 0px 8px #7f8c8d;
  -moz-box-shadow: 0px 0px 8px #7f8c8d;
  -webkit-box-shadow: 0px 0px 8px #7f8c8d;
  z-index: 1;
  background-color: white;
  transition: top .4s ease-in-out, visibility .4s ease-in-out, opacity .4s ease-in-out;
  -o-transition: top .4s ease-in-out, visibility .4s ease-in-out, opacity .4s ease-in-out;
  -moz-transition: top .4s ease-in-out, visibility .4s ease-in-out, opacity .4s ease-in-out;
  -webkit-transition: top .4s ease-in-out, visibility .4s ease-in-out, opacity .4s ease-in-out; }
  .modal .modal-title,
  .modal .modal-footer {
    padding: 12px; }
  .modal h1, .modal .modal-title {
    position: relative;
    margin: 0px;
    font-size: 15px;
    background-color: #004400;
    color: white; }
    .modal h1 .modal-close, .modal .modal-title .modal-close {
      position: absolute;
      top: 0.5em;
      right: 1em;
      font-size: 1.3em;
      cursor: pointer; }
  .modal .modal-body {
    text-align: justify;
    padding: 24px; }
    .modal .modal-body form.modal-form {
      margin: 16px 0px 16px 0px; }
      .modal .modal-body form.modal-form input[type="text"], .modal .modal-body form.modal-form input[type="password"] {
        display: block;
        width: 80%;
        margin: auto;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box; }
        .modal .modal-body form.modal-form input[type="text"] + input[type="text"], .modal .modal-body form.modal-form input[type="text"] + input[type="password"], .modal .modal-body form.modal-form input[type="password"] + input[type="text"], .modal .modal-body form.modal-form input[type="password"] + input[type="password"] {
          margin-top: .4em; }
      .modal .modal-body form.modal-form input[type="submit"] {
        display: none; }
    .modal .modal-body p.link {
      text-align: right;
      margin: 0;
      font-style: italic; }
  .modal .modal-footer {
    text-align: right;
    background-color: rgba(0, 68, 0, 0.3); }
  .modal.icon:before {
    content: '' !important; }
  .modal.icon .modal-body {
    padding-left: 76px; }
    .modal.icon .modal-body:before {
      position: absolute;
      top: 47%;
      left: 38px;
      margin-left: auto;
      font-size: 34px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      box-shadow: 0px 0px 4px black;
      -moz-box-shadow: 0px 0px 4px black;
      -webkit-box-shadow: 0px 0px 4px black;
      text-align: center;
      width: 48px;
      height: 48px;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%); }
  .modal.error {
    box-shadow: 0px 0px 8px #c0392b;
    -moz-box-shadow: 0px 0px 8px #c0392b;
    -webkit-box-shadow: 0px 0px 8px #c0392b; }
    .modal.error h1, .modal.error .modal-title {
      background-color: #c0392b; }
    .modal.error .modal-footer {
      background-color: rgba(231, 76, 60, 0.4); }
    .modal.error.icon .modal-body:before {
      content: '\00d7';
      background-color: #e74c3c;
      box-shadow: 0px 0px 4px rgb(231, 76, 60);
      -moz-box-shadow: 0px 0px 4px rgb(231, 76, 60);
      -webkit-box-shadow: 0px 0px 4px rgb(231, 76, 60);
      color: white; }
  .modal.success {
    box-shadow: 0px 0px 8px #27ae60;
    -moz-box-shadow: 0px 0px 8px #27ae60;
    -webkit-box-shadow: 0px 0px 8px #27ae60; }
    .modal.success h1, .modal.success .modal-title {
      background-color: #27ae60; }
    .modal.success .modal-footer {
      background-color: rgba(39, 174, 96, 0.4); }
    .modal.success.icon .modal-body:before {
      content: '\2713';
      background-color: #2ecc71;
      box-shadow: 0px 0px 4px rgb(46, 204, 113);
      -moz-box-shadow: 0px 0px 4px rgb(46, 204, 113);
      -webkit-box-shadow: 0px 0px 4px rgb(46, 204, 113);
      color: white; }
  .modal.info {
    box-shadow: 0px 0px 8px #2980b9;
    -moz-box-shadow: 0px 0px 8px #2980b9;
    -webkit-box-shadow: 0px 0px 8px #2980b9; }
    .modal.info h1, .modal.info .modal-title {
      background-color: #2980b9; }
    .modal.info .modal-footer {
      background-color: rgba(41, 128, 185, 0.4); }
    .modal.info.icon .modal-body:before {
      content: '!';
      background-color: #3498db;
      box-shadow: 0px 0px 4px rgb(52, 152, 219);
      -moz-box-shadow: 0px 0px 4px rgb(52, 152, 219);
      -webkit-box-shadow: 0px 0px 4px rgb(52, 152, 219);
      color: white; }
    .modal.info.icon.icon-question .modal-body:before {
      content: '?' !important; }
  .modal.warning {
    box-shadow: 0px 0px 8px #f39c12;
    -moz-box-shadow: 0px 0px 8px #f39c12;
    -webkit-box-shadow: 0px 0px 8px #f39c12; }
    .modal.warning h1, .modal.warning .modal-title {
      background-color: #f39c12; }
    .modal.warning .modal-footer {
      background-color: rgba(243, 156, 18, 0.4); }
    .modal.warning.icon .modal-body:before {
      content: '!';
      background-color: #f39c12;
      box-shadow: 0px 0px 4px rgb(243, 156, 18);
      -moz-box-shadow: 0px 0px 4px rgb(243, 156, 18);
      -webkit-box-shadow: 0px 0px 4px rgb(243, 156, 18);
      color: white; }
