<IfModule mod_rewrite.c>
	RewriteEngine On

	# Some hosts may require you to use the `RewriteBase` directive.
	# If you need to use the `RewriteBase` directive, it should be the
	# absolute physical path to the directory that contains this htaccess file.

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [QSA,L]

	<FilesMatch "\.(xml|xsd|db|tpl|json|lock|zip|md|sql|log|cache|index|dist|txt|test|scss|js|png|gif|jpg|jpeg|gitignore|yaml|bat)$">
		Order allow,deny
		Deny from all
		Satisfy All
	</FilesMatch>
</IfModule>

<IfModule mod_ssl.c>

	<IfModule !mod_rewrite.c>
		SSLRequireSSL
	</IfModule>

	<IfModule mod_rewrite.c>
		RewriteCond %{HTTPS} !=on
		RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
	</IfModule>
	
</IfModule>

Options -Indexes
