@viewport {
  width: device-width;
  zoom: 1;
}
* {
  font-family: Verdana, Tahoma, Arial;
  font-size: 12px;
}

html, body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}

.bracp-content .bracp-header {
  padding: 8px;
  background: #636363;
  background: -moz-linear-gradient(top, #636363 0%, #424242 100%);
  background: -webkit-linear-gradient(top, #636363 0%, #424242 100%);
  background: linear-gradient(to bottom, #636363 0%, #424242 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636363', endColorstr='#424242',GradientType=0 );
  background-repeat: repeat-x;
  position: relative;
  clear: both;
}
.bracp-content .bracp-header .bracp-menu-check {
  display: none;
}
.bracp-content .bracp-header .bracp-menu-check + label:before {
  content: '\2261';
}
.bracp-content .bracp-header .bracp-menu-check:not(:checked) + label + .bracp-menu {
  left: -20%;
}
.bracp-content .bracp-header .bracp-menu {
  float: left;
  background-color: white;
  display: inline-block;
  position: absolute;
  left: 0%;
  top: 100%;
  box-shadow: 0px 0px 2px black;
  -moz-box-shadow: 0px 0px 2px black;
  -webkit-box-shadow: 0px 0px 2px black;
  transition: left 0.3s;
  -o-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -webkit-transition: left 0.3s;
}
.bracp-content .bracp-header .bracp-menu ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.bracp-content .bracp-header .bracp-menu ul li {
  padding: 8px;
  margin: 0px;
  border-bottom: 1px solid dotted;
  cursor: default;
  width: 180px;
}
.bracp-content .bracp-header .bracp-menu ul li > ul {
  display: none;
}
.bracp-content .bracp-header .bracp-header-menu {
  float: right;
}

.bracp-message {
  padding: 16px;
  border: 1px solid;
  font-size: 11px;
}
.bracp-message .header, .bracp-message h1, .bracp-message h2, .bracp-message h3, .bracp-message h4 {
  margin: 0px 0px 8px 0px;
  padding: 0px;
  font-size: 12px;
  border-bottom: 1px dotted;
  text-transform: capitalize;
  font-weight: bold;
}
.bracp-message .header .sub-title, .bracp-message h1 .sub-title, .bracp-message h2 .sub-title, .bracp-message h3 .sub-title, .bracp-message h4 .sub-title {
  font-size: 10px;
  font-style: italic;
  font-weight: none;
  text-transform: none;
}

.ajax-url {
  cursor: pointer !important;
}

.info {
  background-color: rgba(0, 183, 255, 0.1);
  border-color: rgba(0, 183, 255, 0.7);
  color: #138EBF;
}

.error {
  border-color: rgba(255, 0, 0, 0.7);
  background-color: rgba(255, 0, 0, 0.1);
  color: #BD0029;
}

.success {
  border-color: rgba(120, 209, 90, 0.7);
  background-color: rgba(120, 209, 90, 0.1);
  color: #53913F;
}

.warning {
  border-color: rgba(255, 153, 0, 0.7);
  background-color: rgba(255, 153, 0, 0.1);
  color: #ff9900;
}
