@import '_mixin';
@import '_options';

html, body
{
    font-family: $App-Font;
    font-size: 1em;
    background-color: $App-Bg-Color;
    padding: 0; margin: 0;
}

form, .form
{
    display: block;

    box-sizing: border-box;
    width: 70%;
    margin: 0 auto;
    padding: .5em;

    input[type="submit"], input[type="file"]
    {
        display: none;
    }

    label.input[data-before]::before
    {
        display: block;
        font-size: .8em;
        margin-bottom: .2em;
        font-weight: bold;
        text-align: left;
        content: attr(data-before) ':';
    }

    .form-buttom
    {
        display: block;

        margin-top: 1em;
        text-align: center;
    }
}

.form-google-authenticator
{
    display: block;
    box-sizing: border-box;
    width: 80%;
    margin: 1em auto;

    .form-input
    {
        display: inline-block;
        box-sizing: border-box;

        &.form-qrcode
        {
            width: 35%;
        }

        &.form-data
        {
            vertical-align: top;
            width: 60%;
            padding: .3em;

            label.button
            {
                text-align: center;
            }

            label.input[data-before]
            {
                input[type="text"]
                {
                    text-align: center;
                }

                &:before
                {
                    display: block;
                    font-size: .8em;
                    margin-bottom: .2em;
                    font-weight: bold;
                    text-align: left;
                    content: attr(data-before) ':';
                }
            }
        }
    }
}
