@import '_mixin';
@import '_options';

.message
{
    margin: 0;
    padding: 1em;
    display: block;
    color: $App-Message-Font-Color;
    background-color: $App-Message-Bg-Color;
    font-family: $App-Font;
    text-align: justify;

    border: 1px solid $App-Message-Shadow;

    @include border-radius(.2em);
    @include box-shadow(0 0 .3em $App-Message-Shadow);

    h1, .title
    {
        padding: 0; margin: 0 0 .6em 0;
        font-size: 1em;
    }

    &.small
    {
        padding: .4em .7em .4em .7em;
        font-size: .7em;
    }

    // Mensagem do tipo sucesso.
    &.success
    {
        color: $App-Message-Success-Font-Color;
        background-color: $App-Message-Success-Bg-Color;
        border-color: $App-Message-Success-Shadow;
        @include box-shadow(0 0 .3em $App-Message-Success-Shadow);
    }

    // Mensagens do tipo erro.
    &.error
    {
        color: $App-Message-Error-Font-Color;
        background-color: $App-Message-Error-Bg-Color;
        border-color: $App-Message-Error-Shadow;
        @include box-shadow(0 0 .3em $App-Message-Error-Shadow);
    }

    // Mensagens do tipo alerta.
    &.warning
    {
        color: $App-Message-Warning-Font-Color;
        background-color: $App-Message-Warning-Bg-Color;
        border-color: $App-Message-Warning-Shadow;
        @include box-shadow(0 0 .3em $App-Message-Warning-Shadow);
    }

    // Mensagens do tipo informativas.
    &.info
    {
        color: $App-Message-Info-Font-Color;
        background-color: $App-Message-Info-Bg-Color;
        border-color: $App-Message-Info-Shadow;
        @include box-shadow(0 0 .3em $App-Message-Info-Shadow);
    }

    .buttons
    {
        padding: 0;
        margin: .6em 0 0 0;
        background: none;
        box-shadow: none;
        border: none;
    }
}

.message-announce
{
    font-size: .8em;

    .message
    {
        border: none;
        @include border-radius('0 !important');
        @include box-shadow('none !important');

        .announce-expire, .announce-expire-fixed
        {
            font-size: .8em;
            font-style: italic;
            text-align: right;
        }

        .announce-expire-fixed
        {
            font-weight: bold;
        }

        .announce-expire
        {
            text-transform: lowercase;
            
            &::before
            {
                font-weight: bold;
                display: inline-block;
                text-transform: capitalize;
                content: 'Finaliza ';
            }
        }

    }
}

code, pre
{
    &.message
    {
        font-family: "Lucida Console", Monaco, monospace;
        overflow: auto;
    }
}
