@import '_mixin';
@import '_options';

.button
{
    display: inline-block;
    *display: inline-block;

    outline: 0;
    margin: 0;

    padding: .8em 1.4em .8em 1.4em;
    cursor: pointer;

    border: 1px solid rgba(0, 0, 0, .1);

    color: $App-Button-Font-Color;
    background-color: $App-Button-Background;
    @include border-radius(.3em);

    &:hover
    {
        background-color: #6a9451;
    }

    &.fill
    {
        width: 100%;
        box-sizing: border-box;
    }

    &.small
    {
        padding: .4em .7em .4em .7em;
        font-size: .7em;
    }

    &.link
    {
        background: none;
        border: none;
    }

    &.success
    {
        background-color: #008000;

        &:hover
        {
            background-color: #009900;
        }
    }

    &.error
    {
        background-color: #cc0000;

        &:hover
        {
            background-color: #ff1a1a;
        }
    }

    &.warning
    {
        background-color: #ff9900;

        &:hover
        {
            background-color: #ffb84d;
        }
    }

    &.info
    {
        background-color: #4d88ff;

        &:hover
        {
            background-color: #80aaff;
        }
    }

    &+ .button
    {
        margin-left: .6em;
    }

    &:disabled
    {
        opacity: .4;
        cursor: not-allowed;
    }
}
