@import '_mixin';
@import '_options';

.modal
{
    z-index: 4;

    color: $App-Modal-Font-Color;
    overflow: hidden;
    font-size: .9em;

    @include position-center(fixed);
    @include border-radius(.3em);
    @include box-shadow(0 0 .3em $App-Modal-Shadow);

    @include min-size(20em, 5em);
    @include max-size(80em, 40em);

    .body
    {
        overflow: auto;
        max-height: 100%;
        text-align: justify;
        padding: 1.6em;
        color: #51713e;
        background-color: $App-Modal-Bg-Color;

        .message
        {
            margin-bottom: .6em;

            &+ .message
            {
                margin-top: .6em;
            }
        }

        p
        {
            padding: 0; margin: 0;
        }
    }

    .title
    {
        color: $App-Modal-Title-Font-Color;
        font-weight: bold;
        font-size: 1em;
        border-bottom: 1px solid $App-Modal-Title-Border;
        padding: 1em;

        background-color: #51713e;

        @include border-radius(.3em .3em 0 0);
    }

    .footer
    {
        background-color: $App-Modal-Footer-Bg-Color;
        border-top: 1px solid $App-Modal-Footer-Border;
        text-align: right;
        padding: .6em;
    }

    form
    {
        input[type="submit"]
        {
            display: none;
        }
    }

}

