@import '_mixin';
@import '_options';

.firewall-form
{
    margin: 2em auto;
    padding: 2em;
    width: 380px;

    color: $App-Bg-Color;

    @include border-radius(.6em);
    @include background-gradient($App-Default-Weak, $App-Default-Strong);
    @include box-shadow(0 0 .4em $App-Default-Shadow);

    .firewall-logo
    {
        display: block;
        margin: 0 auto;
        background-image: url(#{$assetUrl}/img/firewall.png);
        background-repeat: no-repeat;
        background-position: center center;
        @include size(128px, 128px);
    }

    label.input[data-after]::after
    {
        color: $App-Bg-Color;
    }
}

.app-firewall-top
{
    padding: .6em;
    @include background-gradient($App-Success-Default-Weak, $App-Success-Default-Strong);

    .app-firewall-items
    {
        text-align: center;
    }
}

.app-firewall-container
{
    .app-firewall-body
    {
        background-color: white;
        color: $App-Success-Default-Strong;
        @include box-shadow(0 0 .2em $App-Success-Default-Shadow);

        .app-firewall-content
        {
            padding: 1em;

            h1, h2, h3, h4
            {
                font-size: 1.2em;
                padding: 0; margin: 0;
                border-bottom: 1px dotted $App-Success-Default-Strong;
            }
            p
            {
                font-size: 1em;
            }
        }

        ul.app-firewall-location
        {
            padding: .6em; margin: 0;
            list-style: none;
            font-size: .8em;

            opacity: .3;
            border-bottom: 1px solid $App-Success-Default-Shadow;

            @include transition(opacity .2s ease-in-out);

            &:hover
            {
                opacity: 1;
            }

            li
            {
                font-style: italic;
                padding: 0; margin: 0;
                display: inline-block;

                &+ li
                {
                    &::before
                    {
                        display: inline-block;
                        content: '\00BB';
                        margin-right: .4em;
                    }
                }
            }
        }

    }
}
