@import '_mixin';
@import '_options';

input[type="checkbox"].app-checkbox-box,
input[type="radio"].app-checkbox-box
{
    display: none;

    &:not(:checked) + .app-box
    {
        visibility: hidden;
        opacity: 0;
    }

    &:checked + .app-box
    {
        visibility: visible;
        opacity: 1;
    }
}

input[type="checkbox"].app-checkbox-none,
input[type="radio"].app-checkbox-none
{
    display: none;
}

.app-box
{
    display: block;
    position: absolute;

    z-index: 2;

    padding: .8em;
    text-align: left;

    min-width: 300px;

    visibility: hidden;
    opacity: 0;

    color: $brA-Box-Font-Color;
    background-color: $brA-Box-Background;

    @include border-radius(.2em);
    @include box-shadow($brA-Box-Shadow);
    @include transition('visibility .3s ease-in-out, opacity .3s ease-in-out');

    h1, .title
    {
        position: relative;

        font-size: 1em;
        padding: 0; margin: 0 0 .6em 0;
        font-weight: bold;
        border-bottom: 1px dotted $brA-Box-Font-Color;

        .close
        {
            cursor: pointer;
            font-weight: normal;
            border-bottom: none;
            
            position: absolute;
            top: -10%; right: 0%;
        }
    }

    form
    {
        width: 100%;
        box-sizing: border-box;

        .form-buttom
        {
            .button.link
            {
                color: $brA-Box-Font-Color;
            }
        }

        label.input[data-before]::before
        {
            font-size: .8em;
            margin-bottom: .2em;
        }
    }

    p
    {
        font-size: .8em;
        text-align: justify;
    }

    .button.link
    {
        border: inset 1px solid black;
        color: $brA-Box-Font-Color;
    }
}
