@import '_mixin';
@import '_options';

html, body
{
	font-family: 'Raleway', sans-serif;
	padding: 0; margin: 0;
	color: rgba(39, 174, 96,1.0);
}

body
{
	.install-container
	{
		display: block;
		width: 100%;
        box-sizing: border-box;

        .install-header
        {
        	display: block;
        	width: 100%;
        	box-sizing: border-box;
        	text-align: center;

        	.install-logo
        	{
        		display: block;
        		@include size(100%, 8em);

        		background-image: url(#{$assetUrl}/img/logo.png);
        		background-repeat: no-repeat;
        		background-position: center center;
        		background-size: contain;
        	}
        }

        .install-body
        {
        	display: block;
        	margin: 1em auto;
        	width: 60%;

        	.install-div-container
        	{
    			display: block;
        		margin: 1em auto;

        		.install-data
        		{
        			display: block;
        			margin: 1em auto;
	        		@include box-shadow('0 0 .3em rgba(39, 174, 96,1.0)');
	        		@include border-radius(.4em);

        			h1
        			{
        				font-size: 1em;
        				background-color: rgba(39, 174, 96,1.0);
        				color: white;
        				@include border-radius(.4em .4em 0em 0em);
        			}

        			h1, .install-data-body
        			{
        				padding: 1em; margin: 0;
        			}

        			.install-data-body
        			{
        				.install-data-items
        				{
        					display: block;
        					width: 60%;
        					margin: 0 auto;
        					box-sizing: border-box;

        					.install-data-item
        					{
        						display: block;
        						text-align: center;
        						margin: .3em auto;
        						background-color: rgba(236, 240, 241,1.0);
        						@include border-radius(.3em);

        						span
        						{
        							display: inline-block;
        							width: 30%;
        							text-align: left;
        						}

        						input[type="text"], input[type="password"], select
        						{
        							display: inline-block;
        							width: 50%;

        							padding: .6em;
									font-family: 'Raleway', sans-serif;
									color: rgba(39, 174, 96,1.0);

							        margin: .3em 0 .3em 0;
							        border: .1em solid rgba(44, 62, 80, .3);
							        outline: 0;

							        box-sizing: border-box;
        							@include border-radius(.3em);
        						}
        					}
        				}
        			}
        		}
        	}
        }

	}
}
