@import '_mixin';
@import '_options';


html, body
{
    padding: 0px; margin: 0px;
    font-family: Calibri, Tahoma, Verdana, Arial;
    font-size: 13px;
    background-color: #0d1e03;
    height: 100%;
}

.content
{
    .header
    {
        background-image: url(#{$asset_path}/?file=background-header);
        background-repeat: no-repeat;
        background-position: center;

        position: relative;

        .menu-top
        {
            &.access, &.link
            {
                padding: 8px;
            }

            &.access
            {
                display: table;
                width: 100%;

                background-color: rgba(13, 30, 3, .4);
                @include box-shadow('0px 0px 6px rgba(255, 255, 255, .2)');

                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;

                .server-status, .user-access
                {
                    display: table-cell;
                    width: 50%;
                }

                .user-access
                {
                    text-align: right;
                }

                .server-status
                {
                    text-align: center;
                    color: white;

                    label
                    {
                        font-weight: bold;

                        &+ label
                        {
                            margin-left: 2em;
                        }
                    }

                    select, span
                    {
                        border: 0; padding: 0;
                        margin-left: 2px;
                        background-color: transparent;
                        color: white;
                        font-weight: normal;
                    }

                    select
                    {
                        background-color: rgb(13, 30, 3);
                    }
                }
            }

            &.logo
            {
                @include size(420px, 200px);
                margin: auto;
                background-image: url(#{$asset_path}/?file=logo);
                background-repeat: no-repeat;
                background-color: transparent;
                cursor: pointer;
            }

            &.link
            {
                color: white;
                text-align: center;
                font-size: 1.2em;
                background-color: rgba(13, 30, 3, .7);
                @include box-shadow('0px 0px 6px rgb(13, 30, 3)');

                ul
                {
                    padding: 0; margin: 0;
                    list-style: none;

                    li
                    {
                        position: relative;
                        display: inline-block;
                        text-align: left;
                        cursor: pointer;
                        @include transition('text-shadow .2s ease-in-out');
                        z-index: 1;
                        padding: .4em;

                        label
                        {
                            display: block;
                            cursor: pointer;
                        }

                        &.icon
                        {
                            &:before
                            {
                                display: inline-block;
                                content: '\00a0';
                                width: 28px;
                                background-repeat: no-repeat;
                                background-position: center left;
                            }

                            &.icon-home:before
                            {
                                background-image: url(#{$data_path}/?id=501);
                            }

                            &.icon-admin
                            {
                                font-weight: bold;
                                background-color:rgba(255, 0, 0, .7);
                                @include border-radius(.3em);

                                &:before
                                {
                                    background-image: url(#{$data_path}/?id=5334);
                                }
                            }

                            &.icon-myacc:before
                            {
                                background-image: url(#{$data_path}/?id=5372);
                            }

                            &.icon-vending:before
                            {
                                background-image: url(#{$data_path}/?id=7871);
                            }
                        }

                        &.sub-menu:after
                        {
                            display: inline-block;
                            float: right;
                            margin-left: 8px;
                            content: '\203A';
                            @include transition('transform .2s ease-in-out');
                        }

                        &.sub-menu:hover:after
                        {
                            @include transform('rotate(90deg)');
                        }

                        &:hover
                        {
                            text-shadow: 0px 0px 4px white;

                            &> ul
                            {
                                visibility: visible;
                                opacity: 1;
                                top: 100%;
                            }
                        }

                        &+ li
                        {
                            margin-left: .5em;
                        }
                    }

                    ul
                    {
                        position: absolute;
                        top: 70%;

                        background-color: rgba(13, 30, 3, .90);

                        visibility: hidden;
                        opacity: 0;
                        @include box-shadow('0px 0px 3px rgb(13, 30, 3)');

                        padding: 4px;

                        @include transition('top .2s ease-in-out, left .2s ease-in-out, visibility .2s ease-in-out, opacity .2s ease-in-out');

                        li
                        {
                            display: block;
                            min-width: 180px;
                            text-shadow: none;
                            padding: 0;

                            label
                            {
                                padding: 8px;
                            }

                            &+ li
                            {
                                margin-left: 0;
                                border-top: 1px dashed rgba(255, 255, 255, .35);
                            }

                            &.sub-menu:after
                            {
                                display: inline-block;
                                margin-left: 6px;
                                content: '\203A';
                                @include transform('rotate(90deg)');
                                @include transition('transform .2s ease-in-out');
                            }

                            &.sub-menu:hover:after
                            {
                                @include transform('rotate(0deg)');
                            }

                            &:hover ul
                            {
                                top: 0%;
                                left: 100%;
                            }
                        }

                        ul
                        {
                            top: 0%;
                            left: 70%;
                        }
                    }
                }
            }
        }
    }

    .body
    {
        margin: 3px auto;
        background-color: white;
        padding: 16px;
        @include box-shadow(0 0 3px white);

        color: #0d1e03;

        h1
        {
            padding: 0; margin: 0px 0px 12px 0px;
            font-size: 1.2em;
            border-bottom: 1px dotted rgba(0, 0, 0, .6);
        }

        .table
        {
            caption
            {
                margin: 3px;
                padding: 4px;
                font-weight: bold;
                font-size: 1.1em;
            }

            width: 100%;
            border-collapse: collapse;
            border-color: black;

            thead tr
            {
                background-color: #0d1e03;
                color: white;
            }

            tbody
            {
                tr:nth-child(even)
                {
                    background-color: rgba(13, 30, 3, .15);
                }
            }

            tbody tr td,
            thead tr th
            {
                padding: 3px;
                border-color: #0d1e03;
            }
        }

    }

    .footer
    {
        color: white;
        text-align: center;
        padding: 12px;
        margin: 0px auto;

        background-color: rgba(0, 102, 34, .7);
        @include box-shadow('0px 0px 6px rgb(13, 30, 3)');

        label
        {
            font-weight: bold;

            select, span
            {
                font-weight: normal;
                color: white;
                border: 0;
                font-family: Calibri, Tahoma, Verdana, Arial;
                font-size: 12px;
            }

            select
            {
                background-color: transparent;
                padding: 0px;
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                display: inline-block;
            }

            span.navigator
            {
                margin-left: 4px;
                vertical-align: center;
                &:before
                {
                    display: inline-block;
                    content: '\00a0';

                    background-repeat: no-repeat;
                    background-size: 100% 100%;

                    margin-right: 2px;

                    @include size(16px, 16px);
                }

                &.nav-chrome:before
                {
                    background-image: url(#{$asset_path}/?file=chrome);
                }

                &.nav-firefox:before
                {
                    background-image: url(#{$asset_path}/?file=firefox);
                }

                &.nav-ie:before
                {
                    background-image: url(#{$asset_path}/?file=ie);
                }

                &.nav-safari:before
                {
                    background-image: url(#{$asset_path}/?file=safari);
                }

                &.nav-opera:before
                {
                    background-image: url(#{$asset_path}/?file=opera);
                }
            }

            &+ label
            {
                margin-left: 2em;
            }
        }
    }
}

.error
{
    color: rgb(231, 76, 60) !important;

    &.icon:before
    {
        content: '\00d7';
    }
}

.success
{
    color: rgb(46, 204, 113) !important;

    &.icon:before
    {
        content: '\2713';
    }
}

.info
{
    color: rgb(52, 152, 219) !important;

    &.icon
    {
        &:before
        {
            content: '!';
        }

        &.icon.icon-question:before
        {
            content: '?';
        }
    }
}

.warning
{
    color: rgb(243, 156, 18) !important;

    &.icon:before
    {
        content: '!';
    }
}

span.url-link, .fake-link
{
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

input[type="text"], input[type="password"], select, input[type="number"], input[type="range"]
{
    border: 1px solid;
    padding: 8px;
    border-color: lightgray;
}

label.input-checkbox
{
    display: block;
    padding-left: 15px;
    text-indent: -13px;

    text-align: center;

    input[type="checkbox"], input[type="radio"]
    {
        width: 13px;
        height: 13px;
        padding: 0;
        margin:0;
        vertical-align: bottom;
        position: relative;
        top: -2px;
        *overflow: hidden;
    }
}

.loading-ajax
{
    display: block;
    margin: auto;
    @include size(48px, 32px);
    background-color: transparent;
    text-align: center;

    .loading-bar
    {
        height: 100%;
        width: 6px;
        margin: auto;
        display: inline-block;
        background-color: #004400;

        @include border-radius(2px);
        @include box-shadow('0px 0px 3px #004400');
        @include transform('scale(1, .6)');

        &+ .loading-bar
        {
            margin-left: 2px;
        }

        &.loading-bar-1
        {
            @include animation(loading-body-bar-1, .8s, infinite, 0s);
        }

        &.loading-bar-2
        {
            @include animation(loading-body-bar-1, .8s, infinite, .2s);
        }

        &.loading-bar-3
        {
            @include animation(loading-body-bar-1, .8s, infinite, .4s);
        }

        &.loading-bar-4
        {
            @include animation(loading-body-bar-1, .8s, infinite, .6s);
        }
    }

    &+ *
    {
        margin-bottom: 3px;
    }
}

span.info-status
{
    display: inline-block;
    padding: 2px !important;
    color: white;

    &.online
    {
        background-color: rgb(46, 204, 113) !important;
    }

    &.offline
    {
        background-color: rgb(231, 76, 60) !important;
    }
}

.display-money
{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;

    &:before
    {
        content: 'R$';
        margin-right: 3px;
    }

    &:after
    {
        content: ',00';
    }
}

.display-notify
{
    display: block;
    text-align: center;
    font-size: .8em;
    font-style: italic;
    font-weight: bold;
    color: red;

    &:before
    {
        content: '*';
    }
}

@keyframes loading-body-bar-1
{
    #{'0%'}   { @include transform('scale(1, .6)'); }
    #{'50%'}  { @include transform('scale(1, 1)'); }
    #{'100%'} { @include transform('scale(1, .6)');  }
}

.profile-container
{
    position: relative;
    height: 32px;

    .profile-button
    {
        display: inline-block;
        color: white;
        height: 32px; line-height: 32px;

        padding-left: 3em;
        padding-right: .6em;

        background-size: contain;
        background-position: left center;
        background-repeat: no-repeat;
        box-sizing: border-box;

        cursor: pointer;

        font-weight: bold;
        @include border-radius(.2em);

        @include transition('background-color .2s ease-in-out, color .2s ease-in-out');

        &:hover
        {
            background-color: white;
            color: inherit;
        }
    }
}

.merchant-data
{
    display: block;
    width: 100%;
    text-align: center;

    .merchant-shop
    {
        display: inline-block;
        margin: .2em;
        min-width: 20em;
        @include box-shadow('0 0 .2em rgba(0, 0, 0, .5)');

        .merchant-title
        {
            display: block;
            padding: .6em;

            font-size: 1em;
            font-weight: bold;
            color: white;

            background-color: #004400;

            &[data-map]::after
            {
                content: attr(data-map);
                font-weight: normal;
                font-style: italic;

                margin-left: 1em;
            }
        }

        .merchant-items-table
        {
            display: table;
            width: 100%;
            box-sizing: border-box;
            text-align: left;

            .merchant-items-row
            {
                display: table-row;

                &:nth-child(even)
                {
                    background-color: rgba(13, 255, 3, .1);
                }

                .merchant-items-cell
                {
                    display: table-cell;
                    z-index: 0;
                    padding: .4em;

                    vertical-align: middle;
                    text-align: left;
                }
            }

        }
    }
}

.item-info
{
    position: relative;

    font-family: Verdana, Tahoma, Arial;
    vertical-align: bottom;
    display: inline-block;
    line-height: 24px;

    padding-left: 28px;

    background-repeat: no-repeat;
    background-position: left center;

    z-index: 0;

    cursor: pointer;

    &[data-slot]:after
    {
        display: inline-block;
        content: '[' attr(data-slot) ']';
    }

    &[data-refine]:before
    {
        display: inline-block;
        content: '+' attr(data-refine);
    }

    .item-description
    {
        position: absolute;
        left: 110%;
        top: 0;

        opacity: 0; visibility: hidden;

        padding: 1.4em;
        min-width: 400px;
        background-color: white;

        z-index: 999;

        @include border-radius(',4em');
        @include box-shadow('0px 0px 3px rgb(13, 30, 3)');
        @include transition('opacity .2s ease-in-out, visibility .2s ease-in-out');

        .item-text
        {
            line-height: normal;
            font-size: 1em;

            min-height: 100px;

            background-repeat: no-repeat;
            background-position: left center;

            padding: 1em 1em 1em 90px;

            text-align: justify;
            color: rgba(0, 0, 0, 1);
        }

        .item-other
        {
            padding: 1em 0em 0em 0em;
            color: #5a5a5a;
            font-style: italic;
            font-weight: bold;
            font-size: .8em;

            .item-data[data-info]:after
            {
                content: ' ' attr(data-info);
                font-weight: normal;
            }
        }
    }

    &:hover .item-description
    {
        opacity: 1; visibility: visible;
        cursor: default;
    }
}
