@import '_mixin';
@import '_options';

html, body
{
    font-family: $App-Font;
    font-size: 1em;
    background-color: $brA-Mail-Background;
    padding: 0; margin: 0;
}

.mail-container
{
    display: block;
    font-size: 1em;
    width: 80%;
    margin: 1em auto;
    background-color: white;
    color: $brA-Mail-Color;

    @include border-radius(.2em);
    @include box-shadow('#{$brA-Mail-Shadow}');

    .mail-header, .mail-body, .mail-footer
    {
        padding: 1.3em;
    }

    .mail-body
    {
        .mail-text-info
        {
            padding: .8em;
            background-color: rgba(236, 240, 241, 1.0);

            @include border-radius(.4em);
            @include box-shadow('0 0 .2em rgba(149, 165, 166, 1)');
        }
    }

    .mail-header, .mail-footer
    {
        color: white;
        @include background-gradient($brA-Mail-Top-Week, $brA-Mail-Top-Strong);
    }

    .mail-header
    {
        text-align: center;
        font-weight: bold;
        @include border-radius(.2em .2em 0 0);
    }

    .mail-footer
    {
        padding: 1em;
        font-size: .8em;
        @include border-radius(0 0 .2em .2em);

        a
        {
            text-decoration: none;
            color: inherit;
        }
    }
}

